<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body class="bg-primary">
    <div class="container">
        <div class="row vh-100 align-items-center justify-content-center">
            <div class="col-md-6">
                <form action="/login" method="post" class="shadow p-3 rounded-5 bg-light">
                    <div class="mb-3">
                        <h1 class="text-primary text-uppercase text-center display-2 d-block">Login</h1>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" name="email" class="form-control" placeholder="Email address..." id="exampleInputEmail1" aria-describedby="emailHelp">
                      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" name="password" placeholder="Password..." class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 form-check">
                      <input type="checkbox" name="remember" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Remember me</label>
                    </div>
                    <div class="mb-3">
                      <span>Dont have account? <a href="/register">register now</a></span>
                    </div>
                    <button type="submit" class="w-100 btn-lg btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>